<!-- data from child to parent
<h1 *ngIf="dataFromChild">{{dataFromChild?.name+ ' ' + dataFromChild?.gender}}</h1>
include this noify event in app -display (notify)="handleNotify($event)-->
<div class="form-group">
  <input type="text" class="form-control" placeholder="serach by name" style="width: 300px;" [(ngModel)]="serchTerm"> </div>
<h1 #h1variable>
</h1>

<div  *ngFor="let employee of employees | EmpFilter: serchTerm">
  <!--<div (click)="h1variable.innerHTML=childComponent.employee.name+' '+childComponent.employee.gender">-->
    <!--OR-->
     <!-- <div (click)="h1variable.innerHTML=childComponent.getempNameandGender()">-->
    <!--   <div (click)="onClick(employee.id)" class="pointerCursor"> -->


  <app-display-employee [employee]="employee" [searchTerm]="searchTerm" ></app-display-employee>

</div>
<!--Display one employee-->
  <!-- 
    <button (click)="nextEmployee()" class="btn btn-primary">
      view next employee
    </button>
  from ts page employees
  <app-display-employee [employee]="employees[0]"></app-display-employee>

   -->




