<form #employeeForm="ngForm" ngNativeValidate (ngSubmit)="saveEmployee(employeeForm)">
<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
      </div>
      <div class="panel-body">
        <div class ="form-group" [class.has-error]="fullNameControl.invalid">
          <label for="name" class="control-label" >Full Name</label>
          <input required type="text" name="fn" [(ngModel)]="name"id="name" class="form-control" #fullNameControl="ngModel">
  <span class="help-block" *ngIf="fullNameControl.invalid">
    Full Name required
  </span>
        </div>
      <div class ="form-group">
          <label for="email">Email</label>
          <input type="text" name="e" [(ngModel)]="email" id="email" class="form-control">

      </div>
      <div class ="form-group">
          <label >Contact Reference</label>
      <div class ="form-control">
             <label class="in-inline">
          <input type="radio" value="email" name="contact" [(ngModel)]="contact" >
        Email
          </label>
          <label class="in-inline">
              <input type="radio" value="phone" name="contact" [(ngModel)]="contact">
           Phone
              </label>
      </div>
    </div>
      <div class ="form-group">
          <label for="phone">Phone No</label>
          <input type="text" name="e" [(ngModel)]="phone" id="phone" class="form-control">

      </div>
      <div class ="form-group">
          <label >Gender</label>
      <div class ="form-control">
             <label class="in-inline">
          <input type="radio" value="male" name="gender" [(ngModel)]="gender" >
          Male
          </label>
          <label class="in-inline">
              <input type="radio" value="female" name="gender" [(ngModel)]="gender">
           Female
              </label>
      </div>
    </div>
    <div class ="form-group">      
    <div class ="form-control">
           <label class="checkbox-inline">
        <input type="checkbox" value="isactive" name="isactive" [(ngModel)]="isactive" >
        Is Active
        </label>
        
    </div>
  </div>
  <div class ="form-group">
      <label for="department" >Department</label>
  
      <select id="department" name="department" [(ngModel)]="department" class="form-control">
        <option *ngFor="let dept of department" [value]="dept.id">
          {{dept.name}}
        </option>
      </select>
  </div>
<!-- http://angular.io/resources-->
<div class="row">
  <div class ="form-group col-md-5">
      <label for="DateofBirth">DateofBirth</label>
      <input type="text" bsDatepicker [bsConfig]="DatepickerConfig" name="DateofBirth" placement="top" [(ngModel)]="DateofBirth" id="DateofBirth" class="form-control">
    </div>
  </div>
  <div class ="form-group">
    <label for="PhotoPath">Photo Path </label>
    <input type="text" name="PhotoPath" [(ngModel)]="PhotoPath" id="PhotoPath" class="form-control">

</div>
<div class ="form-group">
<img  [src]="PhotoPath" *ngIf="photoPreview"/>
</div>

<div class="form-group">
  <button (click)="togglePreview()" class="btn-primary">{{photoPreview? "Hide ":"Show "}} Preview</button>
    </div>
  </div>
      <div class="panel-footer">
        <button  type="submit" class="btn btn-primary">save </button>
        </div>
        

    </div>
 
  </form>
  {{employeeForm.value | json}}
