<form #employeeForm="ngForm" ngNativeValidate (ngSubmit)="saveEmployee(employee)">
<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
      </div>
      <div class="panel-body">
        <div class ="form-group" [class.has-error]="fullNameControl.invalid && fullNameControl.touched" [class.has-success]="fullNameControl.valid">
          <label for="name" class="control-label" >Full Name</label>
          <input required type="text"  name="fn" [(ngModel)]="employee.name"id="name" class="form-control" #fullNameControl="ngModel">
  <span class="help-block" *ngIf="fullNameControl.invalid && fullNameControl.touched">
    Full Name required
  </span>
        </div>

        <!--[email]="employee.email!==''" in <input> or pattern can use-->
      <div class ="form-group" [class.has-error]="email.invalid ">
          <label for="email" class="control-label">Email</label>
          
          <input [required]="contact.value=='email'" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" [(ngModel)]="employee.email" id="email" class="form-control" #email="ngModel">
          <span class="help-block" *ngIf="email.errors?.required && email.touched">
              email is  
            </span>
          <span class="help-block" *ngIf="email.errors?.pattern && email.touched">
              email is invalid
            </span>
      </div>
      <div class ="form-group">
          <label >Contact Reference</label>
      <div class ="form-control" [class.has-error]="gender.touched && gender.invalid">
             <label class="in-inline">
          <input type="radio" required #contact=ngModel value="email" name="contact" [(ngModel)]="employee.contact" >
        Email
          </label>
          <label class="in-inline">
              <input type="radio" required #contact=ngModel value="phone" name="contact" [(ngModel)]="employee.contact">
           Phone
              </label>
      </div>
      <span class="help-block" *ngIf="contact.touched && contact.invalid">
          reference  is required
          </span> 
         <!-- Contact selected value:{{contact.value}}-->
    </div>
      <div class ="form-group" [class.has-error]="phone.invalid" >
          <label for="phone" class="control-label">Phone No</label>
          <input type="text" [required]="contact.value=='phone'" name="phone" [(ngModel)]="employee.phone" id="phone" #phone=ngModel class="form-control">
          <span class="help-block" *ngIf="phone.errors?.required">
            phone  is required
            </span> 
      </div>
      <div class ="form-group" >
          <label class="control-label">Gender</label>
      <div class ="form-control" [class.has-error]="gender.touched && gender.invalid">
             <label class="in-inline">
          <input type="radio" required #gender=ngModel value="male" name="gender" [(ngModel)]="employee.gender" >
          Male
          </label>
          <label class="in-inline">
              <input type="radio" required #gender=ngModel value="female" name="gender" [(ngModel)]="employee.gender">
           Female
              </label>
             
      </div>
      <span class="help-block" *ngIf="gender.touched && gender.invalid">
      gender is required
      </span>
      </div>
      <div class ="form-group" [class.has-error]="isactive.touched && isactive.invalid">            
    <div class ="form-control">
           <label class="checkbox-inline" class="control-label">
        <input type="checkbox" required #isactive=ngModel value="isactive" name="isactive" [(ngModel)]="employee.isactive" >
        Is Active
        </label>
       
    </div>
    <span class="help-block" *ngIf="isactive.touched && isactive.invalid">
      status is required
      </span>
  </div>
  <div class ="form-group" [class.has-error]="department.touched && department.invalid">
      <label for="department" class="control-label">Department</label>
  <option  ngValue="-1">select department</option>
      <select id="department" appSelectValidator="select" name="department" [(ngModel)]="employee.department" class="form-control"  #department="ngModel">
        <option *ngFor="let dept of department" [value]="dept.id">
          {{dept.name}}
        </option>
      </select>
      <span class="help-block" *ngIf="department.touched && department.errors?.defaultSelect">
        department is required
        </span>
  </div>


 
<!-- http://angular.io/resources-->
<div class="row">
  <div class ="form-group col-md-5">
      <label for="DateofBirth">DateofBirth</label>
      <input type="text" bsDatepicker [bsConfig]="DatepickerConfig" name="DateofBirth" placement="top" [(ngModel)]="employee.dateofbirth" id="DateofBirth" class="form-control">
    </div>
  </div>
  <div class ="form-group">
    <label for="PhotoPath">Photo Path </label>
    <input type="text" name="PhotoPath" [(ngModel)]="employee.photopath" id="PhotoPath" class="form-control">

</div>
<div class ="form-group">
<img  [src]="employee.photopath" *ngIf="photoPreview"/>
</div>

<div class="form-group">
  <button (click)="togglePreview()" class="btn-primary">{{photoPreview? "Hide ":"Show "}} Preview</button>
    </div>

    <div class ="form-group" [class.has-error]="password.invalid && password.touched" >
      <label for="password" class="control-label">password</label>
      <input type="text"  required name="password" [(ngModel)]="employee.password" id="password" #password=ngModel class="form-control">
      <span class="help-block" *ngIf="password.errors?.required && password.touched">
        password  is required
        </span> 
  </div>
  <div class ="form-group" [class.has-error]="confirmpassword.invalid && confirmpassword.touched" >
    <label for="confirmpassword" class="control-label">confirmpassword</label>
    <input type="text" required  appConfirmValidator="password" name="confirmpassword" [(ngModel)]="employee.confirmpassword" id="confirmpassword" #confirmpassword=ngModel class="form-control">
    <span class="help-block" *ngIf="confirmpassword.errors?.required && confirmpassword.touched">
      confirm password  is required
      </span> 
      <span class="help-block" *ngIf="confirmpassword.errors?.notEqual && confirmpassword.touched && !confirmpassword.errors?.required  ">
        confirm password  and password should be equal
        </span> 
</div>



  </div>
      <div class="panel-footer">
        <button  type="submit" class="btn btn-primary" [disabled]=employeeForm.invalid>save </button>
        </div>
        

    </div>
 
  </form>
  {{employeeForm.value | json}}
EmployeeModel:{{employee | json}}